@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
}
ul {
	list-style-type: none;
}
.topnav {
	background-color: transparent;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f2f2f2;
  color: #6321bf;
}
.header {
    text-align: center;
}
#particles-js {
    background: black;
    height: 70vh;
}
.heading {
	position: absolute;
    text-align: center;
    top: 23%;
    width: 100%;
}
.heading h1 {
    color: white;
    padding-left: 0px;
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}
.heading h3 {
    color: white;
    font-size: 25px;
}
.body-container {
  width: 100%;
  background-color: white;
  padding-top: 75px;
  padding-left: 300px;
}
h1 {
  color: #6321bf;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}
p {
  font-size: 2.75vh;
}

.modal-header {
  border-bottom: none;
  button {
    margin-bottom: 0;
  }
}

.modal-content {
  border-radius: 2px;
}

.modal-body {
  margin: 0 20px;
  label {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 0.5em;
  }
  textarea, input {
    border-color: #e6e6e6;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 1em;
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    padding: 25px;
    font-size: 16px;
  }
  input[type="submit"]{
    float: right;
    margin-right: 0;
  }
  ::-webkit-input-placeholder {
    color: #D6D6D6;
  }
  :-moz-placeholder {
    color: #D6D6D6;
  }
  ::-moz-placeholder {
    color: #D6D6D6;
  }
  :-ms-input-placeholder {
    color: #D6D6D6;
  }
}

